.nav-container {
    padding: 10px;
    color: #fff;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  